/* reglas CSS */
/* tipo etiqueta */
body {
    margin : 0;
    padding: 0;
    border: 0;
}

/* tipo ID */
#encabezado {
  background-color: forestgreen;
  padding: 10px;
  color: rgb(256,256,256,1);
}













